{% extends "base.html" %} {% block content %}

<form class="p-3" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      minlength="10"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary mb-3">Log In</button>

  {% if false_credentials %}
  <p class="text-danger fw-bold">Wrong username or password.</p>
  {% endif %}

  <p>Don't have an account yet? <a href="/signup">sign up</a></p>
</form>

{% endblock %}
